.bigDiv {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 250, 224);
    align-items: flex-start;
    justify-content: flex-start;

}

.searchDiv {
    align-self: flex-end;
}

.navDiv {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0em;
    align-items: flex-start;
    background-color: rgb(204, 213, 174);
    height: 4.5em;
    border-radius: 20px;
    margin-top: 0.5em;
    align-self: center;


}

.Button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1.5em;
    background-color: rgb(212, 163, 115);
    height: 2.1em;
    width: 100%;
    border-radius: 0.5em;
    transition: transform 0.2s;
    font-size: 0.9em;
    font-family: Arial;
    padding: 0px 4px;
}

.Button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px black;
}

.Button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 4px white;
}